Exercise1/Abgabe.aux
Exercise1/Abgabe.log
Exercise1/Abgabe.out
Exercise1/Abgabe.toc
Exercise1/Angabe.pdf.aux
Exercise1/Definition.aux
Exercise1/Definition.log
Exercise1/Texmaker.lnk
Exercise1/Carpool/.vs/Carpool/v16/.suo
Exercise1/Carpool/.vs/Carpool/v16/Browse.VC.db
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/11652ac152d49d4f/TRUCK.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/13e5d1440867927c/VEHICLE.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/48b50f331ae43b67/CAR.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/57f7e3fffb7cb837/VEHICLE.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/6890f1d6174a7a1f/TESTDRIVER.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/6bc4d0e3e805df2c/TESTDRIVER.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/89ddd15372a477b3/CARPOOL.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/8b5cc8829b3c7a47/MOTORCYCLE.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/8ed7fb1030c153cf/MOTORCYCLE.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/8fb5fb3090f5b9e4/CAR.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/969f12f2fc139bf4/TRUCK.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/a5332c06467e1a40/CARPOOL.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/b4d25e50866db971/LOGBOOK.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/d6c0932aa86c2e8/CARPOOL.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/d8c414d903940e34/VEHICLE.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/dd8ccd74b0b4bdc/CAR.ipch
Exercise1/Carpool/Carpool/Carpool.vcxproj.user
Exercise1/Carpool/Carpool/Carpool_Class_Diagram.cd
Exercise1/Carpool/Carpool/ClassDiagram1.cd
Exercise1/Carpool/Carpool/.cccc/anonymous.html
Exercise1/Carpool/Carpool/.cccc/anonymous.xml
Exercise1/Carpool/Carpool/.cccc/Car.html
Exercise1/Carpool/Carpool/.cccc/Car.xml
Exercise1/Carpool/Carpool/.cccc/Carpool.html
Exercise1/Carpool/Carpool/.cccc/Carpool.xml
Exercise1/Carpool/Carpool/.cccc/cccc.db
Exercise1/Carpool/Carpool/.cccc/cccc.html
Exercise1/Carpool/Carpool/.cccc/cccc.xml
Exercise1/Carpool/Carpool/.cccc/cccc_src.html
Exercise1/Carpool/Carpool/.cccc/Fuel.html
Exercise1/Carpool/Carpool/.cccc/Fuel.xml
Exercise1/Carpool/Carpool/.cccc/list.html
Exercise1/Carpool/Carpool/.cccc/list.xml
Exercise1/Carpool/Carpool/.cccc/Logbook.html
Exercise1/Carpool/Carpool/.cccc/Logbook.xml
Exercise1/Carpool/Carpool/.cccc/Motorcycle.html
Exercise1/Carpool/Carpool/.cccc/Motorcycle.xml
Exercise1/Carpool/Carpool/.cccc/ostream.html
Exercise1/Carpool/Carpool/.cccc/ostream.xml
Exercise1/Carpool/Carpool/.cccc/size_t.html
Exercise1/Carpool/Carpool/.cccc/size_t.xml
Exercise1/Carpool/Carpool/.cccc/string.html
Exercise1/Carpool/Carpool/.cccc/string.xml
Exercise1/Carpool/Carpool/.cccc/Truck.html
Exercise1/Carpool/Carpool/.cccc/Truck.xml
Exercise1/Carpool/Carpool/.cccc/TUptr.html
Exercise1/Carpool/Carpool/.cccc/TUptr.xml
Exercise1/Carpool/Carpool/.cccc/TVehicles.html
Exercise1/Carpool/Carpool/.cccc/TVehicles.xml
Exercise1/Carpool/Carpool/.cccc/Vehicle.html
Exercise1/Carpool/Carpool/.cccc/Vehicle.xml
Exercise1/Carpool/Carpool/Debug/Car.obj
Exercise1/Carpool/Carpool/Debug/Carpool.Build.CppClean.log
Exercise1/Carpool/Carpool/Debug/Carpool.log
Exercise1/Carpool/Carpool/Debug/Carpool.obj
Exercise1/Carpool/Carpool/Debug/Carpool.vcxproj.FileListAbsolute.txt
Exercise1/Carpool/Carpool/Debug/Logbook.obj
Exercise1/Carpool/Carpool/Debug/Motorcycle.obj
Exercise1/Carpool/Carpool/Debug/TestDriver.obj
Exercise1/Carpool/Carpool/Debug/Truck.obj
Exercise1/Carpool/Carpool/Debug/vc142.idb
Exercise1/Carpool/Carpool/Debug/vc142.pdb
Exercise1/Carpool/Carpool/Debug/Vehicle.obj
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/Carpool.lastbuildstate
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.command.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.read.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.write.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.command.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.read.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.write.1.tlog
Exercise1/Carpool/Debug/Carpool.exe
Exercise1/Carpool/Debug/Carpool.ilk
Exercise1/Carpool/Debug/Carpool.pdb
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Daniel_Weyrer1_Viktoria_Streibl_Uebung1.pdf
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool.sln
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/output.txt
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Car.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Car.h
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Carpool.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Carpool.h
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Carpool.vcxproj
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Carpool.vcxproj.filters
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Carpool.vcxproj.user
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Logbook.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Logbook.h
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Motorcycle.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Motorcycle.h
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/TestDriver.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Truck.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Truck.h
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Vehicle.cpp
Exercise1/Daniel_Weyrer1_Viktoria_Streibl2_Uebung1/Carpool/Carpool/Vehicle.h
Exercise2/CalcSalary/.vs/CalcSalary/v16/.suo
Exercise2/CalcSalary/.vs/CalcSalary/v16/Browse.VC.db
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/22e9c8cf5342dba1/COMMISSIONWORKER.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/4196be638c4e4950/EMPLOYEE.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/ca03ec49ad24f949/HOURLYWORKER.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/fcb2ad06f4138677/BOSS.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/ff4506a29760a45e/PIECEWORKER.ipch
Exercise2/CalcSalary/.vs/
Exercise2/CalcSalary/CalcSalary/x64/Debug/Boss.obj
Exercise2/CalcSalary/CalcSalary/x64/
