Exercise1/
Exercise2/CalcSalary/.vs/CalcSalary/v16/.suo
Exercise2/CalcSalary/.vs/CalcSalary/v16/Browse.VC.db
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/22e9c8cf5342dba1/COMMISSIONWORKER.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/4196be638c4e4950/EMPLOYEE.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/ca03ec49ad24f949/HOURLYWORKER.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/fcb2ad06f4138677/BOSS.ipch
Exercise2/CalcSalary/.vs/CalcSalary/v16/ipch/AutoPCH/ff4506a29760a45e/PIECEWORKER.ipch
Exercise2/CalcSalary/.vs/
Exercise2/CalcSalary/CalcSalary/x64/Debug/Boss.obj
Exercise2/CalcSalary/CalcSalary/x64/
*.ipch
*.obj
Exercise2/CalcSalary/.vs/
*.user
*.filters

Exercise2/CalcSalary/x64/Debug/CalcSalary.exe
Exercise2/CalcSalary/x64/Debug/CalcSalary.ilk
Exercise2/CalcSalary/x64/Debug/CalcSalary.pdb
Exercise2/Uebung2_SalaryCalc.vpd.vbak
Exercise2/Abgabe.aux
Exercise2/Abgabe.log
Exercise2/Abgabe.out
Exercise2/Abgabe.toc
Exercise2/Definition.aux
Exercise2/Abgabe.synctex.gz
