Exercise1/Carpool/.vs/Carpool/v16/Browse.VC.db
Exercise1/Carpool/.vs/Carpool/v16/.suo
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/8be6d075e8b254c/CAR.ipch
Exercise1/Carpool/.vs/Carpool/v16/ipch/AutoPCH/289dcbac0cbe05a0/PKW.ipch
Exercise1/Carpool/.vs/Carpool/v16/Browse.VC.opendb
Exercise1/Carpool/Carpool/Carpool.aps
Exercise1/Carpool/Carpool/Carpool.vcxproj.user
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.read.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.command.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/Carpool.lastbuildstate
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.write.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.read.1.tlog
Exercise1/Carpool/Carpool/Debug/Truck.obj
Exercise1/Carpool/Carpool/Debug/TestDriver.obj
Exercise1/Carpool/Carpool/Debug/Motorcycle.obj
Exercise1/Carpool/Carpool/Debug/Logbook.obj
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/link.write.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.tlog/CL.command.1.tlog
Exercise1/Carpool/Carpool/Debug/Carpool.obj
Exercise1/Carpool/Carpool/Debug/Carpool.log
Exercise1/Carpool/Carpool/Debug/Car.obj
Exercise1/Carpool/Carpool/Debug/vc142.pdb
Exercise1/Carpool/Carpool/Debug/vc142.idb
Exercise1/Carpool/Carpool/Debug/Vehicles.obj
Exercise1/Carpool/Debug/Carpool.pdb
Exercise1/Carpool/Debug/Carpool.ilk
Exercise1/Carpool/Debug/Carpool.exe
*.ipch
Exercise1/Carpool/Carpool/ClassDiagram_CarPool.cd
*.obj
Exercise2/CalcSalary/.vs/
*.user
*.filters